@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --black:#000;
    --white:#fff;
    --whiteo:rgba(250, 245, 245, 0.2);
    --gray:#333;
    --primary:#8BFBFF;
    --secondary:#FB38C8;
    --third:#FF602A;  
    --linkedin: #007bb5;
    --facebook: #1877f2;
    --instagram: #c32aa3;
    --twitter: #1da1f2;
    --youtube: #ff0000; 
    --github: #555050; 
    --google: #0b8a27;
    --red:#9d0208;
    --brown:burlywood;
    --shadow-color: rgba(233, 227, 227, 0.5);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
}
body{
    background-color: var(--black);
    font-family: 'Poppins',monospace, sans-serif;
    overflow-x: hidden;
}
body.dark{
    transition: all 0.3s ease;
    --black:#fff;
    --white:#000;
    --whiteo:rgba(19, 18, 18, 0.2);
    --gray:#333;
    --secondary:#8BFBFF;
    --primary:#FB38C8;
    --third:#FF602A;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --red:burlywood;
    --brown:#6a040f;
}
body.overflow{
    overflow: hidden;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
.pre-loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}
.pre-loader i{
    color: var(--primary);
    font-size: 50px;
    animation: rotate  2s linear infinite;
}
.day{
    position: fixed;
    top: 200px;
    right: 10px;
    z-index: 10;
    border: none;
    background-color: transparent;

    animation: rotate 2s linear infinite;
}
.day i{
    font-size: 30px;
    color: var(--white);
}
.night{
    display: none;
    position: fixed;
    top: 200px;
    right: 10px;
    z-index: 10;
    border: none;
    background-color: transparent;
    animation: rotate 2s linear infinite;
}
.night i{
    font-size: 30px;
    color: var(--white);
}
header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
}
.navbar{
    /* padding: 40px 100px; */
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}
.logo{
    color: var(--white);
    user-select: none;
}
.logo:hover{
    color: var(--primary);
    user-select: none;
    text-decoration: none;
}
.navbar ul {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all .3s;
}
.navbar ul li a{
    color: var(--white);
    margin: 0 20px;
}
.navbar ul li:hover a:not(.active){
    color: var(--primary);
}
.navbar ul li a.active{
    padding-bottom: 8px;
    border-bottom: 2px solid var(--primary);
}
.navbar-toggler{
color: var(--white);
}
.active{
    text-decoration: underline;
    text-decoration-color: #8BFBFF;
}
#about-me{
    color:var(--white);
}
.s{
    
    -webkit-animation: blurFadeIn 2s ease-in 8s backwards;
	-moz-animation: blurFadeIn 1s ease-in 8s backwards;
	-ms-animation: blurFadeIn 2s ease-in 8s backwards;
	animation: blurFadeIn 2s ease-in 8s backwards;
	
	text-shadow: 0px 0px 1px #fff;
}

#col-1{
border-left:2px solid burlywood;
border-right:2px solid burlywood;
}
#col-2{
    border-right:2px solid burlywood;
    border-left:2px solid burlywood;
    }
    /* @keyframes slidein {
        from {
          margin-right: 100%;
          width: 300%;
        }
      
        to {
          margin-right: 0%;
          width: 100%;
        }
      } */
      .s-animation{
        animation-name:fadeIn;
        animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-iteration-count: 1;
      }  
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes move-right {
        from{
            margin-right:100%;
            opacity: 0;
        }
        to{
            margin-right:0%;
            opacity: 1;
        }
    }
    /* @media (prefers-reduced-motion: no-preference) {
        .para {
          animation-name: wipe-enter;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-delay: 7s;
        }
      } */
      
        /* .para-animation {
        
        transition: opacity 1s ease-in;
        opacity: 1;
            animation-name:fadeIn;
            animation-timing-function: ease-in;
                animation-duration: 3s;
                animation-iteration-count: 1;
          
        } */
      
      .invisible{
        display: none;
       
      }
/* .my-img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.my-img:hover+span {
	bottom: -36px;
	opacity: 1;
}
.my-img:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);

} */
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid var(--white);
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 51.2%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
#carousel .carousel-item.boat {
    background-image: url("website1.png");
  }
  
  #carousel .carousel-item.sea {
    background-image: url("website2.png");
  }
  
  #carousel .carousel-item.river {
    background-image: url("website3.png");
  }
  
  #carousel .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  
  #carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
  }
  
  /* Button */
  .delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
  }
  
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1c8314;
    border-color: #40ba37;
  }
  #projects h2{
      color:var(--white);
  }
  #projects h3{
    color:white;
      text-decoration: none !important;
  }
  #projects p{  color:white;}

  #skills{
    color:var(--white);
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  }
  /* .img-div{
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  } */
  @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px var(--whiteo);
		transform: translatey(-20px);
	}
	50% {
		box-shadow: 0 25px 15px 0px var(--whiteo);
		transform: translatey(20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px var(--whiteo);
		transform: translatey(-20px);
	}
}
#contact{
  min-height: 100vh;
}
#contact ul {
  display: flex;

  margin: 0;
  padding: 0;
}
#contact li {
  list-style: none;
  margin: 0 40px;
}
#contact a {
  position: relative;
  display: block;

  width: 80px;
  height: 80px;

  text-align: center;
  box-shadow: -20px 20px 10px var(--shadow-color);

  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
}

#contact a:before {

  content: "";
  /* position: absolute; */
  transition: 0.5s;
  top: 10px;
  left: -20px;

  height: 100%;
  width: 20px;

  transform: rotate(0deg) skewY(-45deg);
}
#contact a:after {
  content: "";
  /* position: absolute; */
  transition: 0.5s;

  bottom: -20px;
  left: -10px;

  height: 20px;
  width: 100%;

  transform: rotate(0deg) skewX(-45deg);
}

#contact a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 50px var(--shadow-color);
}
.linkedin{
  background-color: var(--linkedin);
}
.linkedin::before{
  background-color: darken(var(--linkedin), 5%);
}
.linkedin::after{
  background-color: lighten(var(--linkedin), 4%);
}
.facebook {
  background-color: var(--facebook);
}
.facebook::before{
  background-color: darken(var(--facebook), 5%);
}
.facebook::after{
  background-color: lighten(var(--facebook), 4%);
}
.instagram{
  background-color: var(--instagram);
}
.instagram::before{
  background-color: darken(var(--instagram), 5%);
}
.instagram::after{
  background-color: lighten(var(--instagram), 4%);
}
.twitter{
  background-color: var(--twitter);
}
.twitter::before{
  background-color: darken(var(--twitter), 5%);
}
.twitter::after{
  background-color: lighten(var(--twitter), 4%);
}
.youtube{
  background-color: var(--youtube);
}
.youtube::before{
  background-color: darken(var(--youtube), 5%);
}
.youtube::after{
  background-color: lighten(var(--youtube), 4%);
}
.github{
  background-color: var(--github);
}
.github::before{
  background-color: darken(var(--github), 5%);
}
.github::after{
  background-color: lighten(var(--github), 4%);
}
.google{
  background-color: var(--google);
}
.google::before{
  background-color: darken(var(--google), 5%);
}
.google::after{
  background-color: lighten(var(--google), 4%);
}
#contact .fab:hover{
  color:var(--black);
}
#contact .fab{
font-size: 40px;
color:var(--white);
line-height: 80px;

transition: 0.5s;
}
#contact h2{
  color:var(--white);
  display:block;
  text-align: center;
}
#hire h2{
  color:var(--white);
}
#hire {
  color:var(--brown);
  text-shadow: var(--shadow-color);
}
#hire h3{
  color:var(--brown);
  text-decoration: none !important;
  text-shadow: var(--shadow-color);
}
/* #hire::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 70px;
  height: 100%;
  background: rgba(255,255,255, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  } */
  
#hire:hover::after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease-in-out;
  /* transition-delay: 2s; */
}
#hire:active::after {
  opacity: 0;
}
#hire:hover { 
	-webkit-box-shadow: 0px 2px 9px 2px rgba(128, 9, 9, 0.53);
-moz-box-shadow: 0px 2px 9px 2px rgba(146, 37, 9, 0.53);
box-shadow: 0px 2px 9px 2px rgba(134, 27, 8, 0.53); 
border: 2px solid #292945 !important; } 
